@tailwind base;

@tailwind components;

.btn {
    @apply px-4 py-2 bg-blue-600 text-white rounded;
}

form > div {
    @apply mb-4;
}

form input {
    @apply shadow;
    @apply appearance-none;
    @apply border;
    @apply rounded;
    @apply w-full;
    @apply py-2;
    @apply px-3;
    @apply text-gray-700;
    @apply leading-tight;
}

form label {
    @apply block;
    @apply text-gray-700;
    @apply text-sm;
    @apply font-bold;
    @apply mb-2;
}

@tailwind utilities;